/* ==========================================================================
   Sea theme skin#263849 back
   ========================================================================== */

/* Colors＃F4F5F7 */
$base-color: #41506b !default;
$text-color: #263849 !default;
$accent-color: #35bcbf !default;
$background-color: #F4F5F7 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
