---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// color customizations
$base-color: #393e46 !default;
$text-color: #222831 !default;
$accent-color: #007C41 !default;
$background-color: #fff !default;
$code-background-color: tint($base-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;
$overlay-color: $base-color !default;

// intro image customization



// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";



.intro-image {
  position: relative;
  margin-top: -3rem; /* compensate for intro top margin */
  margin-bottom: 3rem;
  

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent !important; // rgba($accent-color, 0);
    content: '';
  }
  
  img {
    width: 100%;
  }
}
